@font-face {
  font-family: "Harry Potter";
  src: url("./assets/fonts/HarryPotterFont.ttf");
}

:root {
  --primary: #18191a;
  --secondary: #242526;
  --light: #3a3b3c;
  --extralight: #4e4f50;

  --whiteText: #e4e6eb;

  --iconBlue: #4090fa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--primary);
  font-family: "Harry Potter";
  color: var(--whiteText);
}

.navbar {
  width: 100vw;
  background-color: var(--secondary);
}
.navbar-nav {
  list-style-type: none;
  display: none;
  text-align: center;
}
.navbar-nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
.nav-link {
  width: 100%;
  text-decoration: none;
}
.nav-icon {
  padding: 2vh 2.2vh;
  width: 11vh;
  border-radius: 35px;
}

.nav-link:hover {
  border-bottom: 7px var(--iconBlue) solid;
  transition: border-bottom 0.25s;
}

.nav-img {
  vertical-align: middle;
  width: 9vh;
  margin: 0.5rem 1rem;
}
.nav-text {
  padding: 13% 0;
  font-size: 1.7rem;
  color: var(--whiteText);
}
.navbar-toggle {
  position: absolute;
  top: 4%;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active2 {
  display: block;
}

/* content: url("./assets/icons/navbarActive/wizards-active.png"); */

@media screen and (max-width: 800px) {
  .nav-icon {
    width: 10vh;
  }
}

@media screen and (min-width: 800px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navbar-nav li {
    margin: 0 5px;
  }
  .navbar-toggle {
    display: none;
  }
}
